# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfvars

# Python
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/venv/
**/.venv/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Docker
**/.dockerignore
